*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 70%;
}

body{
  font-family: 'popons',sans-serif;
  background-color:rgb(27,27,27);
  overflow-x: hidden;
}
.header{
  height: 90vh;
  position: relative;
}

.navbar{
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0 40px;
  z-index: 10;
}

.navbar-box{
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
}



.navbar-list{
  list-style: none;
  font-size: 3rem;
  word-spacing: 20px;
  margin-left: 500px;


  
}

.option:link{
  color: white;
  text-decoration: none;
  padding: 3rem;

}


.item:hover{
  background-color: #da6b1d;
  color: white;
}


.item{
  display: inline-block;
}


